<div class="container">
<h1><%= @cocktail.name %></h1>

<%= render "doses/new", cocktail: @cocktail, dose: @dose %>

<% @cocktail.doses.each do |dose| %>
<%= dose.description %>
<%= dose.ingredient.name %>
<%= link_to "delete", dose_path(dose), method: :delete  %>
<% end %>

<% @cocktail.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

</div>
